/*
HTML5 display definitions from [HTML5 Boilerplate](http://j.mp/rP0wmY)

No styleguide reference.
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
/*
Base from [HTML5 Boilerplate](http://j.mp/rP0wmY)
- Correct text resizing oddly in IE6/7 when body font-size is set using em units
- Force vertical scrollbar in non-IE
- Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
- Remove text-shadow in selection highlight: h5bp.com/i
- These selection declarations have to be separate
- Also: hot pink! (or customize the background color to match your design)

No styleguide reference.
*/
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0.62);
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
::-moz-selection {
  background: #073642;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #073642;
  color: #fff;
  text-shadow: none;
}
/*
Links from [HTML5 Boilerplate](http://j.mp/rP0wmY)

No styleguide reference.
*/
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}
/*
Typography from [HTML5 Boilerplate](http://j.mp/rP0wmY)

No styleguide reference.
*/
abbr[title] {
  border-bottom: 1px dotted;
}
b, strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
/* Redeclare monospace font family: h5bp.com/j */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/*
Lists from [HTML5 Boilerplate](http://j.mp/rP0wmY)

No styleguide reference.
*/
ul, ol {
  margin: 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/*
Embedded content from [HTML5 Boilerplate](http://j.mp/rP0wmY)
- Improve image quality when scaled in IE7: h5bp.com/d
- Remove the gap between images and borders on image containers: h5bp.com/e

No styleguide reference.
*/
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
/* Correct overflow not hidden in IE9 */
/*
Figures from [HTML5 Boilerplate](http://j.mp/rP0wmY)

No styleguide reference.
*/
figure {
  margin: 0;
}
/*
Forms from [HTML5 Boilerplate](http://j.mp/rP0wmY)
See inline comments for detail

No styleguide reference.
*/
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
}
/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input {
  line-height: normal;
}
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}
/*
Tables from [HTML5 Boilerplate](http://j.mp/rP0wmY)

No styleguide reference.
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
/*
Base .mod module from http://j.mp/svs81k

HTML should look like this and .bd is required:
	<div class="mod">
		<div class="inner">
			<div class="hd"></div>
			<div class="bd"></div>
			<div class="ft"></div>
		</div><!-- inner -->
	</div><!-- mod -->

No styleguide reference.
*/
.mod .inner {
  position: relative;
}
.mod .bd, .mod .ft, .mod .hd {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}
/*
.media module from http://j.mp/tQCTa8
Since .media uses overflow: hidden, box-shadow needs padding to render correctly.
Using dropdown or pop over should be problematic. Anything try to go outside of this module box should have problem.
HTML should look like this and .media-left or .media-right and .bd is required:

	<div class="media">
		<a href="#" class="media-left"><img src="#" alt=""></a>
		<a href="#" class="media-right"><img src="#" alt=""></a>
		<div class="bd"></div>
	</div><!-- media -->

No styleguide reference.
*/
.media {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}
.media .media-left {
  float: left;
  margin-right: 14px;
}
.media .img img {
  display: block;
}
.media .media-right {
  float: right;
  margin-left: 14px;
}
.media .bd, .media .ft, .media .hd {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}
/*
Frameless			<http://framelessgrid.com/>
by Joni Korpi 		<http://jonikorpi.com/>
licensed under CC0	<http://creativecommons.org/publicdomain/zero/1.0/>

No styleguide reference.
*/
/*
Font families

No styleguide reference.
*/
/*
Base font size should be larger than 16px.
Calculation should be done via  http://j.mp/rNg5uA

No styleguide reference.
*/
body {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, "MS PGothic", Osaka, Sans-Serif;
  font-size: 1em;
  line-height: 1.625em;
}
/*
Font size setting
Using Golden ratio section (Caliculated via http://j.mp/sB6oxM):
109.657	6.854	843.515 * h1
82.241	5.14	632.623
67.773	4.236	521.331
50.829	3.177	390.992
41.887	2.618	322.208 * h2
31.415	1.963	241.654
25.888	1.618	199.138 * h3
19.416	1.214	149.354 * h4
16.000	1	    123.077 * Base font size
12.000	0.75	92.308  * Minimum font size
Vertical Rhythm is caluculated via http://j.mp/sUvKuN

No styleguide reference.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: junctionregularRegular, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, "MS PGothic", Osaka, Sans-Serif;
  font-weight: bold;
}
h1, .h1 {
  font-size: 42px;
  line-height: 52px;
  margin-top: 52px;
  margin-bottom: 26px;
}
h2, .h2 {
  font-size: 42px;
  line-height: 52px;
  margin-top: 52px;
  margin-bottom: 26px;
}
h3, .h3 {
  font-size: 26px;
  line-height: 26px;
  margin-top: 26px;
  margin-bottom: 26px;
}
h4, .h4 {
  font-size: 20px;
  line-height: 26px;
  margin-top: 26px;
  margin-bottom: 26px;
}
h6, .h6 {
  font-size: 16px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 0;
}
p,
ul,
ol,
dl,
img {
  margin-top: 0;
  margin-bottom: 1.625em;
}
small, .small, aside {
  font-size: 0.75em;
}
.font-size-default {
  font-size: 1em;
}
blockquote {
  font-weight: bold;
}
blockquote cite {
  font-weight: normal;
}
strong {
  font-weight: bold;
}
em {
  font-weight: bold;
}
/*
Color schemes

No styleguide reference.
*/
/* Junction Font
 * http://www.theleagueofmoveabletype.com/
 * Using for Logo and headers
*/
@font-face {
  font-family: 'junctionregularRegular';
  src: url('/assets/themes/the-gallery/font/Junction-webfont.eot');
  src: url('/assets/themes/the-gallery/font/Junction-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/themes/the-gallery/font/Junction-webfont.woff') format('woff'), url('/assets/themes/the-gallery/font/Junction-webfont.ttf') format('truetype'), url('/assets/themes/the-gallery/font/Junction-webfont.svg#junctionregularRegular') format('svg');
  font-weight: normal !important;
  font-style: normal;
}
@font-face {
  font-family: 'iconic_fill';
  src: url('/assets/themes/the-gallery/font/iconic_fill.eot');
  src: url('/assets/themes/the-gallery/font/iconic_fill.eot?#iefix') format('embedded-opentype'), url('/assets/themes/the-gallery/font/iconic_fill.woff') format('woff'), url('/assets/themes/the-gallery/font/iconic_fill.ttf') format('truetype'), url('/assets/themes/the-gallery/font/iconic_fill.svg#iconic_fill') format('svg');
  font-weight: normal !important;
  font-style: normal;
}
/*
LESS helper
*/
/*
List modules
.list-linear  - list line up horizontally

No styleguide reference.
*/
.list-linear {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em;
  list-style: none;
  padding-left: 0;
}
.list-linear li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: normal;
  letter-spacing: normal;
  margin-right: 16px;
  word-spacing: normal;
  vertical-align: middle;
}
.list-linear li:last-child {
  margin-right: 0;
}
/* CSS for jQuery Orbit Plugin 1.2.3
 * www.ZURB.com/playground
 * Copyright 2010, ZURB
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 
 
 
/* PUT IN YOUR SLIDER ID AND SIZE TO MAKE LOAD BEAUTIFULLY
   ================================================== */
#slider {
  width: 1050px;
  height: 490px;
  background: #000000 url('/assets/themes/the-gallery/skin/orbit/loading.gif') no-repeat center center;
  overflow: hidden;
}
#slider > img, #slider > div, #slider > a {
  display: none;
}
/* CONTAINER
   ================================================== */
div.orbit-wrapper {
  width: 1px;
  height: 1px;
  position: relative;
}
div.orbit {
  width: 1px;
  height: 1px;
  position: relative;
  overflow: hidden;
}
div.orbit > img {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
div.orbit > a {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0;
  display: none;
}
.orbit > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Note: If your slider only uses content or anchors, you're going to want to put the width and height declarations on the ".orbit>div" and "div.orbit>a" tags in addition to just the .orbit-wrapper */
/* TIMER
   ================================================== */
div.timer {
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: .6;
  cursor: pointer;
  z-index: 1001;
}
span.rotator {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: -20px;
  background: url(/assets/themes/the-gallery/skin/orbit/rotator-black.png) no-repeat;
  z-index: 3;
}
span.mask {
  display: block;
  width: 20px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
}
span.rotator.move {
  left: 0;
}
span.mask.move {
  width: 40px;
  left: 0;
  background: url(/assets/themes/the-gallery/skin/orbit/timer-black.png) repeat 0 0;
}
span.pause {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/assets/themes/the-gallery/skin/orbit/pause-black.png) no-repeat;
  z-index: 4;
  opacity: 0;
}
span.pause.active {
  background: url(/assets/themes/the-gallery/skin/orbit/pause-black.png) no-repeat 0 -40px;
}
div.timer:hover span.pause, span.pause.active {
  opacity: 1;
}
/* CAPTIONS
   ================================================== */
.orbit-caption {
  display: none;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, "MS PGothic", Osaka, Sans-Serif;
}
.orbit-wrapper .orbit-caption {
  background: url('/assets/themes/the-gallery/skin/100-100-8-monochrome.png') repeat 0 0 rgba(0, 0, 0, 0.7);
  z-index: 1000;
  color: #fafafa;
  text-align: left;
  font-size: 13px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}
.orbit-wrapper .orbit-caption a {
  color: #fafafa;
}
.orbit-wrapper .orbit-caption .hasGrid {
  padding: 16px;
}
.orbit-wrapper .orbit-caption .hasGrid .theme-info {
  float: left;
  width: 43.125em;
}
.orbit-wrapper .orbit-caption .hasGrid .theme-btn {
  float: right;
  text-align: right;
  margin-top: 13px;
  width: 20.625em;
}
.orbit-wrapper .orbit-caption .hasGrid .theme-btn .btn {
  padding: 10px 15px;
  background: #f2777a;
  color: #1a1a1a;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #ee484c;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.orbit-wrapper .orbit-caption .hasGrid .theme-btn .btn:hover {
  background: #ee484c;
  border: solid 1px #e91a1f;
  text-decoration: none;
}
.orbit-wrapper .orbit-caption .hasGrid .theme-btn .btn:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #be1216;
  border: solid 1px #8f0e11;
}
.orbit-wrapper .orbit-caption p {
  margin-bottom: 0;
}
/* DIRECTIONAL NAV
   ================================================== */
div.slider-nav {
  display: block;
}
div.slider-nav span {
  width: 78px;
  height: 100px;
  text-indent: -9999px;
  position: absolute;
  z-index: 1000;
  top: 50%;
  margin-top: -50px;
  cursor: pointer;
}
div.slider-nav span.right {
  background: url(/assets/themes/the-gallery/skin/orbit/right-arrow.png);
  right: 0;
}
div.slider-nav span.left {
  background: url(/assets/themes/the-gallery/skin/orbit/left-arrow.png);
  left: 0;
}
/* BULLET NAV
   ================================================== */
.orbit-bullets {
  position: absolute;
  z-index: 1000;
  list-style: none;
  bottom: -40px;
  left: 50%;
  margin-left: -50px;
  padding: 0;
}
.orbit-bullets li {
  float: left;
  margin-left: 5px;
  cursor: pointer;
  color: #999;
  text-indent: -9999px;
  background: url(/assets/themes/the-gallery/skin/orbit/bullets.jpg) no-repeat 4px 0;
  width: 13px;
  height: 12px;
  overflow: hidden;
}
.orbit-bullets li.active {
  color: #222;
  background-position: -8px 0;
}
.orbit-bullets li.has-thumb {
  background: none;
  width: 100px;
  height: 75px;
}
.orbit-bullets li.active.has-thumb {
  background-position: 0 0;
  border-top: 2px solid #000;
}
/* LESS VARIABLES
--------------------------------------------------------------------------------- */
/* GLOBAL
--------------------------------------------------------------------------------- */
html {
  background-color: #eeeeee;
  color: #2d2d2d;
}
/* LINK */
a:link {
  color: #2d2d2d;
  text-decoration: none;
}
a:visited {
  color: #141414;
  text-decoration: none;
}
a:hover {
  color: #474747;
  text-decoration: none;
}
/* HIGHLIGHTER */
pre {
  margin-bottom: 1.625em;
}
pre {
  color: #f2f2f2;
  background-color: #393939;
  border: 1px solid #393939;
  font-family: "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  margin-left: 0;
  margin-right: 0;
  padding: 1.625em;
  overflow: auto;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.6);
}
/* meta */
.meta .list-category span, .meta .list-tag span {
  background: url('/assets/themes/the-gallery/skin/100-90-5-monochrome.png') repeat 0 0 #515151;
  color: #eee;
  display: inline-block;
  *display: inline;
  font-size: 12px;
  line-height: 12px;
  padding: 4px 7px;
  text-align: center;
  zoom: 1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* HEADER
--------------------------------------------------------------------------------- */
.the-header {
  margin-top: 1.625em;
  margin-bottom: 1.625em;
}
.the-header .logo {
  font-family: junctionregularRegular, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, "MS PGothic", Osaka, Sans-Serif;
  margin: 0;
}
.the-header .logo a {
  background: url('/assets/themes/the-gallery/skin/100-100-8-monochrome.png') repeat 0 0 #515151;
  color: #eee;
  display: inline-block;
  *display: inline;
  font-size: 26px;
  line-height: 150px;
  text-align: center;
  height: 150px;
  width: 150px;
  zoom: 1;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.64);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.64);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.64);
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.the-header .logo a:visited {
  color: #eee;
}
.the-header .tagline {
  font-weight: bold;
}
.the-header .nav-global {
  text-transform: uppercase;
}
.the-header .nav-global .forkme {
  position: relative;
  top: 2px;
}
/* MAIN
--------------------------------------------------------------------------------- */
.unit-theme-list ol {
  list-style: none;
  padding: 0;
}
.unit-theme-list .theme-capture a {
  display: block;
  margin-bottom: 1.625em;
  position: relative;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.unit-theme-list .theme-capture img {
  margin-bottom: 0;
}
.unit-theme-list .theme-capture a:hover img {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.unit-theme-list .theme-capture .demo {
  display: none;
}
.unit-theme-list .theme-capture a:hover .demo {
  color: #eee;
  background: url('/assets/themes/the-gallery/skin/100-90-5-monochrome.png') repeat 0 0 #515151;
  display: inline-block;
  *display: inline;
  font-size: 26px;
  line-height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -36px;
  margin-left: -75px;
  text-align: center;
  text-transform: uppercase;
  height: 50px;
  width: 150px;
  zoom: 1;
  -webkit-box-shadow: 0px 0px 30px rgba(21, 21, 21, 0.4);
  -moz-box-shadow: 0px 0px 30px rgba(21, 21, 21, 0.4);
  box-shadow: 0px 0px 30px rgba(21, 21, 21, 0.4);
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.unit-theme-list .theme-capture a:hover .demo:after {
  font-family: 'iconic_fill';
  display: inline-block;
  margin-left: 12px;
  content: "\e019";
}
.unit-theme-list .theme a:hover {
  color: #f2777a;
}
.unit-body .unit-foot {
  border-top: 5px solid #515151;
}
.unit-body .unit-foot .unit-inner {
  margin-top: 1.625em;
  margin-bottom: 1.625em;
}
.unit-body .unit-foot p {
  margin-bottom: 0;
}
/* post & page */
.layout-post .meta .entry {
  margin-bottom: 0;
}
.layout-post .meta .entry:last-child {
  margin-bottom: 1.625em;
}
.layout-post .install {
  padding: 10px 15px;
  background: #f2777a;
  color: #1a1a1a;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #ee484c;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.layout-post .install:hover {
  background: #ee484c;
  border: solid 1px #e91a1f;
  text-decoration: none;
}
.layout-post .install:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #be1216;
  border: solid 1px #8f0e11;
}
.layout-post .unit-head h1 {
  margin-top: 0;
}
.layout-post .main-content h2:first-child,
.layout-post .main-content h3:first-child,
.layout-post .main-content h4:first-child,
.layout-post .main-content h5:first-child,
.layout-post .main-content h6:first-child {
  margin-top: 0;
}
/* FOOTER
----------------------------------------------- */
.the-footer {
  background: url('/assets/themes/the-gallery/skin/100-90-5-monochrome.png') repeat 0 0 #515151;
  color: #fafafa;
  color: rgba(250, 250, 250, 0.8);
  padding-bottom: 1.625em;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.the-footer a:link {
  color: #99cc99;
  border: 0;
}
.the-footer a:visited {
  color: #77bb77;
  border: 0;
}
.the-footer a:hover {
  color: #bbddbb;
  border: 0;
}
.the-footer ul {
  list-style: square;
  padding-left: 1em;
}
.the-footer address {
  font-style: normal;
}
.the-footer .license {
  clear: both;
  margin-bottom: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  img {
    max-width: 100%;
  }
}
@media only screen and (min-width: 480px) {
  
}
@media only screen and (min-width: 768px) {
  
}
@media only screen and (min-width: 1280px) {
  
}
@media only screen and (min-width: 1410px) {
  .the-header .unit-inner {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 65.625em;
  }
  .the-header .unit-inner .logo {
    float: left;
    width: 9.375em;
  }
  .the-header .unit-inner .tagline {
    float: left;
    margin-top: 62px;
    margin-left: 60px;
    width: 20.625em;
  }
  .the-header .unit-inner .nav-global {
    float: right;
    margin-top: 60px;
    text-align: right;
    width: 31.875em;
  }
  .the-header .unit-inner .nav-global ul {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    word-spacing: -0.43em;
    list-style: none;
    padding-left: 0;
  }
  .the-header .unit-inner .nav-global ul li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: normal;
    letter-spacing: normal;
    margin-right: 16px;
    word-spacing: normal;
    vertical-align: middle;
  }
  .the-header .unit-inner .nav-global ul li:last-child {
    margin-right: 0;
  }
  .unit-slider {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 3.25em;
    width: 65.625em;
  }
  .unit-theme-list {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 65.625em;
  }
  .unit-theme-list li {
    float: left;
    margin-right: 1.875em;
    width: 20.625em;
  }
  .unit-theme-list li:nth-child(3n+3) {
    margin-right: 0;
  }
  .unit-body .content .unit-head, .unit-body .content .bd, .unit-body .content .unit-foot .unit-inner {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 65.625em;
  }
  .unit-body .main-content {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 43.125em;
  }
  .unit-foot .pagination {
    float: left;
  }
  .unit-foot .gotop {
    float: right;
    text-align: right;
  }
  .the-footer .unit-inner {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 65.625em;
  }
  .the-footer .unit-inner .about.layout {
    float: left;
    width: 31.875em;
  }
  .the-footer .unit-inner .about.jekyllbootstrap {
    float: right;
    width: 31.875em;
  }
}
pre .c {
  color: #999999;
  font-style: italic;
}
/* Comment */
pre .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* Error */
pre .g {
  color: #d0d0d0;
}
/* Generic */
pre .k {
  color: #6ab825;
  font-weight: bold;
}
/* Keyword */
pre .l {
  color: #d0d0d0;
}
/* Literal */
pre .n {
  color: #d0d0d0;
}
/* Name */
pre .o {
  color: #d0d0d0;
}
/* Operator */
pre .x {
  color: #d0d0d0;
}
/* Other */
pre .p {
  color: #d0d0d0;
}
/* Punctuation */
pre .cm {
  color: #999999;
  font-style: italic;
}
/* Comment.Multiline */
pre .cp {
  color: #cd2828;
  font-weight: bold;
}
/* Comment.Preproc */
pre .c1 {
  color: #999999;
  font-style: italic;
}
/* Comment.Single */
pre .cs {
  color: #e50808;
  font-weight: bold;
  background-color: #520000;
}
/* Comment.Special */
pre .gd {
  color: #d22323;
}
/* Generic.Deleted */
pre .ge {
  color: #d0d0d0;
  font-style: italic;
}
/* Generic.Emph */
pre .gr {
  color: #d22323;
}
/* Generic.Error */
pre .gh {
  color: #ffffff;
  font-weight: bold;
}
/* Generic.Heading */
pre .gi {
  color: #589819;
}
/* Generic.Inserted */
pre .go {
  color: #cccccc;
}
/* Generic.Output */
pre .gp {
  color: #aaaaaa;
}
/* Generic.Prompt */
pre .gs {
  color: #d0d0d0;
  font-weight: bold;
}
/* Generic.Strong */
pre .gu {
  color: #ffffff;
  text-decoration: underline;
}
/* Generic.Subheading */
pre .gt {
  color: #d22323;
}
/* Generic.Traceback */
pre .kc {
  color: #6ab825;
  font-weight: bold;
}
/* Keyword.Constant */
pre .kd {
  color: #6ab825;
  font-weight: bold;
}
/* Keyword.Declaration */
pre .kn {
  color: #6ab825;
  font-weight: bold;
}
/* Keyword.Namespace */
pre .kp {
  color: #6ab825;
}
/* Keyword.Pseudo */
pre .kr {
  color: #6ab825;
  font-weight: bold;
}
/* Keyword.Reserved */
pre .kt {
  color: #6ab825;
  font-weight: bold;
}
/* Keyword.Type */
pre .ld {
  color: #d0d0d0;
}
/* Literal.Date */
pre .m {
  color: #3677a9;
}
/* Literal.Number */
pre .s {
  color: #ed9d13;
}
/* Literal.String */
pre .na {
  color: #bbbbbb;
}
/* Name.Attribute */
pre .nb {
  color: #24909d;
}
/* Name.Builtin */
pre .nc {
  color: #447fcf;
  text-decoration: underline;
}
/* Name.Class */
pre .no {
  color: #40ffff;
}
/* Name.Constant */
pre .nd {
  color: #ffa500;
}
/* Name.Decorator */
pre .ni {
  color: #d0d0d0;
}
/* Name.Entity */
pre .ne {
  color: #bbbbbb;
}
/* Name.Exception */
pre .nf {
  color: #447fcf;
}
/* Name.Function */
pre .nl {
  color: #d0d0d0;
}
/* Name.Label */
pre .nn {
  color: #447fcf;
  text-decoration: underline;
}
/* Name.Namespace */
pre .nx {
  color: #d0d0d0;
}
/* Name.Other */
pre .py {
  color: #d0d0d0;
}
/* Name.Property */
pre .nt {
  color: #6ab825;
  font-weight: bold;
}
/* Name.Tag */
pre .nv {
  color: #40ffff;
}
/* Name.Variable */
pre .ow {
  color: #6ab825;
  font-weight: bold;
}
/* Operator.Word */
pre .w {
  color: #666666;
}
/* Text.Whitespace */
pre .mf {
  color: #3677a9;
}
/* Literal.Number.Float */
pre .mh {
  color: #3677a9;
}
/* Literal.Number.Hex */
pre .mi {
  color: #3677a9;
}
/* Literal.Number.Integer */
pre .mo {
  color: #3677a9;
}
/* Literal.Number.Oct */
pre .sb {
  color: #ed9d13;
}
/* Literal.String.Backtick */
pre .sc {
  color: #ed9d13;
}
/* Literal.String.Char */
pre .sd {
  color: #ed9d13;
}
/* Literal.String.Doc */
pre .s2 {
  color: #ed9d13;
}
/* Literal.String.Double */
pre .se {
  color: #ed9d13;
}
/* Literal.String.Escape */
pre .sh {
  color: #ed9d13;
}
/* Literal.String.Heredoc */
pre .si {
  color: #ed9d13;
}
/* Literal.String.Interpol */
pre .sx {
  color: #ffa500;
}
/* Literal.String.Other */
pre .sr {
  color: #ed9d13;
}
/* Literal.String.Regex */
pre .s1 {
  color: #ed9d13;
}
/* Literal.String.Single */
pre .ss {
  color: #ed9d13;
}
/* Literal.String.Symbol */
pre .bp {
  color: #24909d;
}
/* Name.Builtin.Pseudo */
pre .vc {
  color: #40ffff;
}
/* Name.Variable.Class */
pre .vg {
  color: #40ffff;
}
/* Name.Variable.Global */
pre .vi {
  color: #40ffff;
}
/* Name.Variable.Instance */
pre .il {
  color: #3677a9;
}
/* Literal.Number.Integer.Long */
/*
helper.css contains non-semantic helper classes
This must be the last file to import

No styleguide reference.
*/
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Firefox had different box-sizing for hr. See: http://jsfiddle.net/sFgt7/ */
hr {
  -moz-box-sizing: content-box;
}
/* Contain floats: h5bp.com/q */
.clearfix:before,
.clearfix:after,
.cf:before,
.cf:after,
.hasGrid:before,
.hasGrid:after,
.unit-inner:before,
.unit-inner:after,
.tag_box:before,
.tag_box:after {
  content: "";
  display: table;
}
.clearfix:after,
.cf:after,
.hasGrid:after,
.unit-inner:after,
.tag_box:after {
  clear: both;
}
.clearfix,
.cf,
.hasGrid,
.unit-inner,
.tag_box {
  *zoom: 1;
}
.left {
  *display: inline;
  float: left;
}
.right {
  *display: inline;
  float: right;
}
